%h1 All contests
- if @contests.blank?
  %p
    No contest here yet. #{link_to "Be the first to play!", topics_path}
- else
  %ul
    - @contests.each do |contest|
      %li
        = link_to "Contest number #{contest.id}", contest_path(contest)
        %br/
        = "The word was: #{contest.topic.word}"
      %ul
        %li
          = "#{contest.users.first.name.capitalize} has #{contest.users.first.total_votes_for(contest)} votes."
        %li
          = "#{contest.users.last.name.capitalize} has #{contest.users.last.total_votes_for(contest)} votes."

