<h1>All contests</h1>

<% if @contests.blank? %>
  <p>No contest here yet. <%= link_to "Be the first to play!", topics_path %></p>
<% else %>
  <ul>
    <% @contests.each do |contest| %>
      <li><%= link_to "Contest number #{contest.id}", contest_path(contest) %>. <br>The word was "<%= contest.word %>":</li>
      <ul>
      <% contest.posts.each do |post| %>
        <li>
          <% if post.user == current_user %>
            You wrote:
          <% else %>
            <%= "#{post.user.name} wrote:" %>
          <% end %>
          <br>
          <%= post.content %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>
