%h2
  New contest for the word #{@topic.word}
%p= @topic.definition
= simple_form_for [@contest, @post], url: create_contests_path(@topic) do |f|
  = f.error_notification
  = f.input :content, required: true
  = f.button :submit, "Send", class: "btn btn-primary"
