<h1>Your word is: <%= @contest.word %></h1>

<% if @unfinished_contests.empty? || @unplayable_contests.present? %>

  <h2>New contest</h2>
  <%= simple_form_for [@contest, @post], url: posts_path(@contest) do |f| %>
    <%= f.error_notification %>
    <%= f.input :content, required: true %>
    <%= f.button :submit, "Send", class: "btn btn-primary" %>
  <% end %>

<% else %>

  <h2>There is an unfinished contest for your word!</h2>
  <p>
    <%= @unfinished_contests.first.users.first.name %> wrote:
    <br>
    <%= @unfinished_contests.first.posts.first.content %>
  </p>
  <%= simple_form_for [@contest, @post], url: post_contest_path(@contest) do |f| %>
  <%= f.error_notification %>
  <%= f.input :content, required: true %>
  <%= f.button :submit, "Send", class: "btn btn-primary" %>
  <% end %>

<% end %>
